In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [3]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [4]:
df=pd.read_csv("gld_price_data.csv")

In [5]:
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  01/02/08  1447.160034  84.860001  78.470001  15.180  1.471692
1  01/03/08  1447.160034  85.570000  78.370003  15.285  1.474491
2  01/04/08  1411.630005  85.129997  77.309998  15.167  1.475492
3  01/07/08  1416.180054  84.769997  75.500000  15.053  1.468299
4  01/08/08  1390.189941  86.779999  76.059998  15.590  1.557099

In [7]:
X=df[['SPX','USO','SLV','EUR/USD']]
y=df['GLD']

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [9]:
scaler=MinMaxScaler()

In [11]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [ ]:
model.add()